.form-item.form-type-textfield.form-item-input {
	margin-top: 1px;
	position: absolute;
	left: 0;
	margin-left: 16px;
}
.form-item.form-type-select.form-item-meassure {
	position: relative;
	float: left;
	margin-left: 100px;
}
#edit-custom, #edit-time {
	display: inline-block;
	width: 340px;
	height: 120px;
	float: left;
  	margin-right: 15px;
}
#edit-table {
  	padding: 0;	
}
fieldset {
	border-radius: 10px;
}